body {
    background: url(../img/bg01.jpg);
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    width: 1907px;
}

.nav__menu {
    width: 38%;
    margin: 0 auto;
}

.menu {
    display: flex;
}

.menu__item {
    padding: 3.5% 5% 3.5% 2.6%;
}

.menu__item:hover {
    background-color: #3f3f3f;
}

.item__link {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.item__link:hover {
    color: white;
}

.header__conteiner {
    width: 79%;
    padding-top: 7%;
    margin: 0 auto;
    text-align: center;
    
}

.header__logo {
    margin: 0 auto;
    background:url(../img/listok.jpg) no-repeat center center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #df6267;
}

.logo__name {
    width: 30%;
    margin: 0 auto;
    padding-top: 4% ;
    padding-bottom: 7%;
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.name__description {
    width: 42%;
    margin: 0 auto;
    padding: 7% 0 2% 0;
    font-size: 25px;
    font-weight: bold;
}

.main__section {
    width: 77%;
    margin: 0 auto;
}

.header__section {
    display: flex;
    justify-content: space-between;
    padding: 1% 0 6% 0;
}

.photo__gallery {
    width: 76%;
    text-decoration: none;
}

.photo__img {
    width: 465px;
    height: 330px;
    padding: 0 2% 4% 0%;
}

.main-content__section {
    width: 77%;
    padding-top: 3.4%;
    margin: 0 auto;
    text-align: center;
}

.content__text {
    
    line-height: 2rem;
}

.button__item {
    width: 19%;
    margin: 0 auto;
    padding: 2.3%;
    margin-bottom: 1%;
    background-color: #df6267;
    color: white;
    font-weight: bolder;
}

.content__name {
    width: 20%;
    margin: 0 auto;
    padding:1% 0 3% 0 ;
    font-size: 23px;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    
}

.align {
    margin: 6% 0 7% 0;
}